@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-out {
  display: -webkit-box;
}

.Card {
  @apply w-48 h-64 shadow-md rounded-lg mx-8 transform transition-all hover:-translate-y-4 hover:shadow-xl;
}
.title {
  @apply font-semibold text-3xl pb-1;
}

.image-cover {
  @apply w-full h-3/5 rounded-t-lg bg-cover;
}
.description-cover {
  @apply w-full h-2/5 rounded-b-lg px-4 py-2;
}

.recomendation-sect {
  @apply flex overflow-x-scroll scroll-out p-10;
}

.dark {
  color: white;
  background-color: #111827;
}

.dark .drk-nav {
  background-color: #1f2937;
}

.dark .drk-footer {
  background-color: #374151;
}

.dark .drk-title {
  color: white;
}

.dark .drk-card-green {
  background-color: #374151;
}

.dark .drk-card-white {
  background-color: #1f2937;
}

.dark .drk-card-white .drk-text {
  color: white;
}
